body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}
#breadcrumbs {
	margin-top: 2rem;
    text-align: center;
}
#breadcrumbs a {
color: gray;
}
.font {
	padding: .5rem 3rem 2rem 4rem;
}
.belleza {
	font-family: 'Belleza', sans-serif;	
}

.crimson {
	font-family: 'Crimson Pro', serif;	
}

.golos {
	font-family: 'Golos Text', sans-serif;
}

.lora {
	font-family: 'Lora', serif;

}

.roboto {
	font-family: 'Roboto', sans-serif;

}

.roboto-serif{
	font-family: 'Roboto Serif', serif;

}

.vollkorn {
	font-family: 'Vollkorn', serif;	
}

.rosario {
	font-family: 'Rosario', sans-serif;
}

.test {
	color: red;
	outline: solid blue;
}

.bg-a {
	background-color: #fff0db;
}

.bg-b {
	background-color: #EED9C4;
}

.center {
	text-align: center;
}

.font-title {
	font-size: 40px;
	border-bottom: 1px solid #5c5c5c;
}

.font h1 {
	margin-top: 0;
}